html {
    position: relative;
    min-height: 100%;
}

body {
    color: #444;
    /* Margin bottom by footer height */
    margin: 0 0 40px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 30px;
}

footer p {
    padding: 0;
    margin: 9px 0 0 0;
    font-size: 12px;
}